.App {
  text-align: center;
}

.navbar {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  float: right;
  background-color: #0a7040;
  width: 100%;
  padding: 10px;
}

.link {
  text-decoration: none;
  color: white;
  float: right;
  margin: 0 2vh;
  font-size: 1.5em;
  opacity: 1;
  display: flex;
  align-items: center;
}

.link:hover {
  color: white;
}

a.activeLink {
  color: #F8A475;
}

a.activeLink:hover {
  color: #F8A475;
}